@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

:root {
  --gray-bg-color: #6D747D;
  --dark-bg-color: #1F2937;
  --blue-color: #3882F6;
  --light-accent-color: #E5E7EB;
  --dark-text-color: #1F2937;
  font-family: "Roboto", "sans serif";
}

body {
  margin: 0;
  width: 100vw;
}

a {
  text-decoration: none;
}

section {
 padding: 0px 15%;
}

h1 {
  margin: 0px;
}

.hero {
  background-color: var(--dark-bg-color);
  color: var(--light-accent-color);
  padding-bottom: 100px;
  display: flex;
  gap: 50px;
}

.hero h1 {
  font-size: 48px;
  font-weight: 900;
  color: #F9FAF8;
}

.hero button {
  font-size: 18px; 
  font-weight: 600;
  background-color: var(--blue-color);
  color: var(--light-accent-color);
  border-style: none;
  padding: 10px 30px;
  border-radius: 10px;
}

.hero span {
  flex-basis: 45%;
}

.hero .hero-image {
  background-color: var(--gray-bg-color); 
  color: var(--light-accent-color);
  border-style: none;
  flex-basis: 55%;
  display: flex;
  align-items: center;
  justify-content: center;
}

blockquote {
  background-color: var(--light-accent-color);
  font-size: 36px;
  font-weight: 200;
  font-style: italic;
  color: var(--dark-text-color);
}

#header-logo {
  font-weight: 800;
  margin-right: auto;
}

nav {
  display: flex;
  justify-content: space-around;

  color: #F9FAF8;
  background-color: var(--dark-bg-color);
  padding: 20px 15% 100px 15%;
  font-size: 24px;
  gap: 30px;
}

nav a {
 font-size: 18px;
 color: var(--light-accent-color);
}

#information {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 32px 48px;
  margin: 32px 0px 96px;
}

.information-header {
  margin: 0;
  flex-basis: 100%;
  text-align: center;
  font-size: 32px;
}

.information-image {
  margin: 0px;
  margin-bottom: 8px;
  height: 150px;
  width: 150px;
  border: 3px solid;
  border-color: var(--blue-color);
  border-radius: 8px;
  color: rgba(0,0,0,0);
}

figure {
  width: 150px;
  text-align: center;
  margin: 0;
}

#testimonials {
  background-color: var(--light-accent-color);
  display: flex;
  justify-content: center;
}

blockquote {
  padding: 64px 0px;
  max-width: 820px;
}

blockquote footer {
  text-align: end;
  font-weight: 600;
  font-style: normal;
}

#footer {
  background-color: var(--dark-bg-color);
}